<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PageServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/BSFrameworkService/PageService.asmx"
                binding="basicHttpBinding" bindingConfiguration="PageServiceSoap"
                contract="BSFrameworkService.PageServiceSoap" name="PageServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>